*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-weight: 200;
    color:#20203c;
}

body {
    overflow: hidden;
    padding:0 16px;
}
.saas-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height:300px;
    width: 300px;
    overflow: scroll;
    background-color: #ccc;
    padding:16px;
}

.saas-grid div{
    width: 50px;
    height: 50px; 
}

.saas-grid img{
width: 50px;
height: 50px;
border-radius: 6px;
}

h2{
    font-size: 16px;
    padding: 16px 0;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 100vh;
}

#marketplace-col,#stats-div {
    max-height: 100vh;
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
 
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
 
 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


#available-grid img, #not-available-grid img {
    max-width: 50px;
}

#my-saas-grid img {
    max-width: 50px;
}

#stats-div {
    float: right;
}

#budget-bar {
    height: 20px;
    width: 90%;
    background-color: #4CAF50;
}

#cac-bar {
    height: 20px;
    width: 50%;
    background-color: #f44336;
}

#customers-text {
    font-size: 24px;
    font-weight: bold;
}
